.container {
  display: flex;
  flex-direction: row;
}

.right-side {
  flex: 1;
  margin-left: 10px;
  /* Adjust margin as needed */
}

.nodeValue {
  width: 400px;
  height: 200px;
  padding: 5px;
  overflow: auto;
  /*word-wrap: break-word;*/
  white-space: pre-wrap;
  border: 2px solid black;
  border-radius: 10px;
  overflow-wrap: break-word;
}
.key {
  color: red;
}
.string {
  color: green;
}
.number {
  color: darkorange;
}
.boolean {
  color: blue;
}
.null {
  color: magenta;
}
.selectedTopic {
  width: 400px;
  height: 100px;
  padding: 5px;
  overflow: auto;
  word-wrap: break-word;
  border: 2px solid black;
  border-radius: 10px;
}

.list {
  border: 2px solid black;
  border-radius: 10px;
  --spacing: 1.5rem;
  --radius: 10px;
  width: 500px;
  max-width: 500px;
  height: 400px;
  overflow: auto;
  white-space: nowrap;
  flex: 1
}
ul, #myUL, .tree ul {
  padding: 0;
  user-select: none;
}

.tree li {
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
  user-select: none;
}

.tree ul li {
  border-left: 2px solid #5500be;
  left: -16px;
  border: none;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}


.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  /* top: calc(var(--spacing) / 4); */
  top: -12px;
  left: 2px;
  width: calc(var(--spacing) - 4px); /* lines in the list */
  height: calc(var(--spacing) - 4px); /* lines in the list */
  border: 2px solid #5500be;
  border-width: 0 0 2px 2px;
}

.caret {
  cursor: pointer;
  color: rgb(240, 99, 6); /* Adjust caret color here */
  user-select: none;
  
  
}

.caret::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 6px;
  user-select: none;
  color: rgb(13, 212, 226);
  
}

.caret-down { 
  content: "\25B6";
  margin-right: 6px;
  color: rgb(184, 14, 65); /* Adjust caret-down color here */
  
}
.caret-down::before {
   content: "\25B6";
   margin-right: 6px;
   -ms-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
   color: rgb(13, 177, 48); /* Adjust caret-down color here */
} 
.leaf-node > .caret, .nested, .caret > .leaf-node {
  display: none;
}
.leaf-node {
  color: rgb(5, 19, 8); /* Adjust caret-down color here */
}

.selected {
  background-color: lightblue;
}

.selected.caret-selected {
  background-color: rgb(199, 20, 103);
}

.active {
  display: block;
}

.highlight {
  background-color: #17da1e; /* Highlight color */
}

